<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3">
  <a class="navbar-brand" href="#">mach.wat.ruhr</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Unternehmen
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
          <a class="dropdown-item" href="help.html">Was gibt es für Hilfe?</a>
          <a class="dropdown-item" href="add.html">Unternehmen eintragen lassen</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Untersützer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown-2">
          <a class="dropdown-item" href="#">Was ist die Idee?</a>
          <a class="dropdown-item" href="#">Karte mit Unternehmen</a>
          <a class="dropdown-item" href="#">Liste mit Unternehmen</a>
        </div>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Über Uns</a>
      </li>
    </ul>
    <form class="form-inline">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Suche nach Unternehmen" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>
</nav>
