<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <style>
      #mapid { 
        height: 100vh; 
        width: 100vw;
      }
    </style>
  <body id="page-top">
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}
    <script type="application/javascript">
      var mymap = L.map('mapid').setView([51.4828, 7.2189], 15);

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox/streets-v11',
          tileSize: 512,
          zoomOffset: -1,
          accessToken: 'pk.eyJ1IjoicGljbW90aW9uIiwiYSI6ImNrODMzMnQ0NTAwZWMzbG83aW1qMnpwOHkifQ.1qI277PFv9xHGoEAcz3bZQ'
      }).addTo(mymap);

      L.marker([51.48319,7.21454],{title:"Test Title"}).addTo(mymap)
        .bindPopup(`<div class="card ">
          <div class="card-body">
            <h5 class="card-title">Unternehmen A</h5>
            <p class="card-text">
              Ein kleiner Text über unser unternehmen und welche hilfe wir brauchen
            </p>
            <p>Tags: Mitarbeiter gesucht,abholen möglich</p>
            <div class="mt-2 mb-2 collapse" id="collapse-0" style="">
              <div class="row">
                <div class="col-2">
                  <b><i class="fas fa-map-marked-alt"></i></b>
                </div>
                <div class="col-10">
                  Starße 1, 44787 Bochum
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <b><i class="fas fa-envelope"></i></b>
                </div>
                <div class="col-10">
                  <a href="mailto:example@example">example@example</a>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <b><i class="fas fa-phone"></i></b>
                </div>
                <div class="col-10">
                  <a href="tel:+49123456789">+49123456789</a>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <b><i class="fas fa-clock"></i></b>
                </div>
                <div class="col-10">
                  <div class="row">
                      <div class="col-4">
                        Mo.
                      </div>
                      <div class="col-8">
                        10:00 - 12:00
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-4">
                        Di.
                      </div>
                      <div class="col-8">
                        10:00 - 12:00
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-4">
                        Mi.
                      </div>
                      <div class="col-8">
                        10:00 - 12:00
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-4">
                        Do.
                      </div>
                      <div class="col-8">
                        10:00 - 12:00
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-4">
                        Fr.
                      </div>
                      <div class="col-8">
                        10:00 - 12:00
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-4">
                        Sa.
                      </div>
                      <div class="col-8">
                        10:00 - 12:00
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-4">
                        So.
                      </div>
                      <div class="col-8">
                        10:00 - 12:00
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <b><i class="fas fa-gift"></i></b>
                </div>
                <div class="col-10">
                  <a href="https://giftcards.example">https://giftcards.example</a>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <b><i class="fas fa-hand-holding-heart"></i></b>
                </div>
                <div class="col-10">
                  <a href="https://crowdfound.example">https://crowdfound.example</a>
                </div>
              </div>
            </div>
            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse-0" aria-expanded="false" aria-controls="collapseExample">
              Mehr
            </button>
          </div>
        </div>`);
    </script>
  </body>
</html>
